<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>

    <script>
      'use strict';

      <% if (typeof poll != 'undefined') { %>
        const pollJSONstr = '<%- poll %>';
        const infiniteVoteEnabledStr = '<%- infiniteVoteEnabled %>';
      <% } %>

    </script>

    <script src="/javascripts/displayPoll.js"></script>

    <style>
      #choices .row,
      #choicesForm .row {
        border: solid black 2px;
        margin-top: -2px;
        margin-bottom: -2px;
      }
    </style>

</head>


<body>

  <div class="container">

    <%- include('partials/header.ejs') %>

      <div class="row">

        <div class="col">

          <div id="toResultsButton"></div>

        </div>
      </div>

      <br>


      <div class="row">

        <div class="col">

          <h2 id="title"></h2>
          <br>

          <div id="choices">
          </div>
          <form id="choicesForm">

          </form>

          <br>

          <div class="alert alert-success" role="alert" id="hasVotedAlert">
            <h4 class="alert-heading">Has voted</h4>
            <p>You have voted on this poll.</p>
          </div>


        </div>
      </div>

      <%- include('partials/footer.ejs') %>


  </div>

</body>

</html>