<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>

    <script type="module">
      'use strict';

      <% if (typeof poll != 'undefined') { %>
        
        import displayPoll from "/javascripts/displayOrCreatePoll/displayPoll.js";

        const pollJSONstr = '<%- poll %>';
        const infiniteVoteEnabledStr = '<%- infiniteVoteEnabled %>';

        const PAGE_TYPE = 'displayPoll';

      <% } else { %>

        const duplicateCheckMethods = JSON.parse('<%- duplicateCheckMethods %>');

        const PAGE_TYPE = 'createPoll';

        <% } %>


        $(function () {

          $('#choicesArea').append(`
          <div id="choices" class="row">
          </div>
          `);
          cloneTemplate('firstColTemplate').appendTo('#choices');

          switch (PAGE_TYPE) {

            case 'displayPoll':

              $('main').append(`
              <div class="alert alert-success" role="alert" id="hasVotedAlert">
                <h2 class="alert-heading">Has voted</h2>
                <p>You have voted on this poll.</p>
              </div>
              `);

              $('#titleArea').append(`
              <h1 id="title" class="text-center mb-3"></h1>`);

              $('#gradesArea').append(`
              <form id="choicesForm">
              </form>
              <br>
              `);

              $('#pollVoteArea').append(
                displayPoll(pollJSONstr, infiniteVoteEnabledStr)
              );

              break;

            case 'createPoll':

              $('main').wrapInner('<form>');

              $('#titleArea').append(`
              <div class="form-floating">
                  <textarea id="title" name="title" class="form-control" placeholder="Formulate your question"></textarea>
                  <label for="title" class="form-label">Formulate your question or your sentence indicating what the
                    choices correspond to.</label>
                </div>`);

              $('#choicesArea #choices div').append(`
              <input type="number" id="addChoice" class="form-control" min="1" value="1" placeholder="Choices">
              `);


              // $('#choicesArea #choices div').append('<label for="addChoice" class="form-label">Choices</label>');
              // $('#choicesArea #choices div').addClass('form-floating');

              $('#choicesArea #choices').append(`
              `);

              break;

          }

        });

    </script>


    <% if (typeof poll !='undefined' ) { %>

      <% } else { %>

        <script src="/javascripts/displayOrCreatePoll/makePollCreationForm.js"></script>
        <script src="/javascripts/postPollCreation.js"></script>

        <% } %>

          <!-- <style>
            #choices,
            #choicesForm .row {
              border: solid black 2px;
              margin-top: -2px;
              margin-bottom: -2px;
            }

            label {
              color: black;
            }
          </style> -->

</head>


<body>

  <div class="container">

    <%- include('partials/header.ejs') %>

      <main>

        <div class="row">

          <div class="col">

            <div id="toResultsButton"></div>

          </div>
        </div>


        <div class="row">

          <div class="col">
            <div id="titleArea">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col" id="pollVoteArea"></div>
        </div>

        <%- include('partials/footer.ejs') %>

      </main>

  </div>

</body>

<% if (typeof poll=='undefined' ) { %>
  <template id="choiceInputTemplate">
    <div class="col">
      <input id="choice-" name="choices[]" type="text" class="form-control">
    </div>
  </template>
  <% } %>

    <template id="firstColTemplate">
      <div class="col-2"></div>
    </template>

</html>