<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>

    <script>

      'use strict';

      const pollJSONstr = '<%- poll %>';

      const infiniteVoteEnabledStr = '<%- infiniteVoteEnabled %>';

      // console.log(pollJSONstr);

      const parsedPoll = JSON.parse(pollJSONstr);
      const infiniteVoteEnabled = JSON.parse(infiniteVoteEnabledStr);

      function hasVoted(hasVoted) {

        if (hasVoted && !infiniteVoteEnabled) {

          $('#choicesForm').hide();
          $('#hasVotedAlert').show();

        } else {

          $('#hasVotedAlert').hide();
        }
      }

      function makeChoicesRow() {

      }

      async function makeVoteForm() {

        let grades = await get('/polls/grades');

        for (let grade of grades.sort((a, b) => b.order - a.order)) {

          let row = $('<div>').addClass('row');
          row.append($('<div>').addClass('col').text(grade.value));

          for (let choice of parsedPoll.choices) {

            let col = $('<div>').addClass('col');
            let radioBtn = $('<input type="radio" required>')
              .attr('name', choice.id)
              .attr('value', grade.id);

            col.append(radioBtn);
            row.append(col);

          }

          $('#choicesForm').append(row);

        }

        let divSubmitButton = $('<div>')
          .addClass('d-grid col-6 mx-auto');

        let submitButton = $('<button type="submit" id="submitButton">')
          .addClass("btn")
          .addClass("btn-secondary")
          .text('Vote')

        divSubmitButton.append(submitButton);

        $('#choicesForm').append(divSubmitButton)
          .submit(async function (event) {
            event.preventDefault();

            let formData = parseForm($(this));

            console.log(formData);

            let voteOk = await post(
              '/polls/' + parsedPoll.id + '/vote',
              formData
            );

            console.log(voteOk);

            if (voteOk) {

              localStorage.setItem(parsedPoll.id, true);

              hasVoted(true);

            }

          });


      }

      $(async function () {

        $('#title').text(parsedPoll.title);


        let row = $('<div>').addClass('row');
        row.append($('<div>').addClass('col'));
        for (let choice of parsedPoll.choices) {

          row.append($('<div>').addClass('col').text(choice.name));

        }
        $('#choices').append(row);


        if (!localStorage.getItem(parsedPoll.id) || infiniteVoteEnabled) {

          makeVoteForm();
          hasVoted(false);
        }
        else {
          hasVoted(true);
        }

      });


    </script>

    <style>
      #choices .row,
      #choicesForm .row {
        border: solid black 2px;
        margin-top: -2px;
        margin-bottom: -2px;
      }
    </style>

</head>


<body>

  <div class="container">

    <%- include('partials/header.ejs') %>

      <div class="row">

        <div class="col">

        </div>
      </div>

      <br>


      <div class="row">

        <div class="col">

          <h1 id="title"></h1>
          <br>

          <div id="choices">
          </div>
          <form id="choicesForm">

          </form>

          <br>

          <div class="alert alert-success" role="alert" id="hasVotedAlert">
            <h4 class="alert-heading">Has voted</h4>
            <p>You have voted on this poll.</p>
          </div>


        </div>
      </div>

      <%- include('partials/footer.ejs') %>


  </div>

</body>

</html>